@import "settings";
@import "foundation";

@import url(http://fonts.googleapis.com/css?family=Merienda:400,700);

body {
  font-family: 'Merienda', cursive;
}

#app {
    height: 480px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: flex;
    flex-flow: column;
}

#header {
    flex: initial;
    background-color: white;
    height: 32px;
    box-shadow: 0px 2px 2px #ccc;

    .logo {
        margin-top: 6px;
        margin-left: 6px;
        height: 20px;
        width: auto;
    }
}

#main {
    flex: 1 1 auto;
    position: relative;
}


.kb-theatre {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.kb-stage-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 48px;
}

.kb-stage {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    padding-top: 15%;

    .stage-top, .stage-bottom {
        position: relative;

        > div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        
        img {
            padding: 10px;
            max-width: 100%;
            max-height: 100%;
        }
    }


    .stage-top {
        flex: 1 1 40%;
        text-align: center;
    }

    .stage-bottom {
        flex: 1 1 60%;
        > div {
            padding: 20px;
        }
    }
}

.kb-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  font-size: 18px;
  overflow: hidden;
}

.kb-controls {
    text-align: right;
}

.status {
    height: 48px;

    .narrator {
        float: left;
        padding: 8px;
        img {
            height: 32px;
            border-radius: 100%;
        }
    }

    .settings-launcher {
        float: right;
    }
}

.kb-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}
